<!DOCTYPE html>
<html>
 
<head> 
   <link rel="stylesheet" href="/static/test.css">
  <script src="/static/test.js"></script>
    <title>Fun With Some States</title>
</head>
<body>
    <h2 class="class1" id="hello" >Type a Random two letter abbriviation of a State that you Would You Like to see</h2>

    <div class="topnav">
        <a>Search city abbreviation(Two letters only)</a>
        <input id="searchInput" type="text" placeholder="Search.." />
    </div>
    <script>
    // Get the input element
    var inputElement = document.getElementById('searchInput');
    inputElement.addEventListener('input', function() {
        // Save the input text in a variable
        var inputValue = inputElement.value;
    });
    </script>

     &nbsp;&nbsp;&nbsp;
    <div class="class3" id="hello3">
    <a href="#" onclick="submitForm()">
        <button>Submit</button>
    </a>
    </div>

    <script>
        function submitForm() {
            var inputValue = inputElement.value;
            window.location.href = "/pop/" + inputValue;
        }
    </script>
</body>
</html>
