body {
    margin: 0;
    padding: 0;
    background-image: url('image.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.class1{
  text-align: center;
  color: blue;
}

.topnav{
  text-align: center;
}
.class2{
  text-align: center;
  color: green;
}
.class3{
  text-align:center;
  color: green;
}

.class4{
  text-align:center;
  color: blue;
}
.class5{
  text-align:center;
  color: red;
}
.class6{
  text-align:center;
  color: blue;
}
.class7{
  text-align:center;
  color: red;
}
.class8{
  text-align:center;
  color: blue;
}
