<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With States</title>
</head>
<body>
    <h2>Type a Random two letter abbriviation of a State that you Would You Like?</h2>

    <div class="topnav">
        <a href="#contact">Search city Initials</a>
        <input id="searchInput" type="text" placeholder="Search.." />
    </div>

   <script>
    // Get the input element
    var inputElement = document.getElementById('searchInput');
</script>

    &nbsp &nbsp &nbspz
    <a href="/pop/"+inputElement;>
      <button>Submit</button>
    </a>
</body>
 
</html>