<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With States</title>
</head>
<body>
    <h2>Type a Random two letter abbriviation of a State that you Would You Like?</h2>

    <div class="topnav">
        <a href="#contact">Search city Initials</a>
        <input id="searchInput" type="text" placeholder="Search.." />
    </div>



    &nbsp &nbsp &nbsp
    <a href="/pop/"+inputElement;>
        <script>
    // Get the input element
    var inputElement = document.getElementById('searchInput');
</script>
      <button>Submit</button>
    </a>
</body>
 
</html>
